<!DOCTYPE html> 
<html> 
<head> 
   <meta name="viewport" content="width=device-width,initial-scale=1" />  
   <meta http-equiv="content-type"content="text/html; charset=UTF-8"/>  
   <title>feed_detail</title> 
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
   <link rel="stylesheet" href="jquery-mobile-fluid960.min.css">
    <link rel="stylesheet" type="text/css" href="ww.css">
   <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
   <style type="text/css">
        
   </style>
</head>
<body>
    <div data-role="page" data-theme="d" data-fullscreen="true"  class="bet_bg">
       <div data-role="header">
         <!--  <div class="ui-grid-c" style="text-align:center;">
            <div class="ui-block-a" style="margin-top:10px;"><img src="img/logo.png"></div>
            <div class="ui-block-b"><img src="img/bet2.png"></div>
            <div class="ui-block-c"><img src="img/billboard.png"></div>
            <div class="ui-block-d"><img src="img/login.png"></div>
          </div> -->
       <!--    <div class="segmented-control ui-bar-d">
             <div data-role="controlgroup" data-type="horizontal">
               <a href="#" data-role="button" class="ui-control-active" ><img src="img/logo.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/bet2.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/billboard.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/login.png"></a>
             </div>

          </div> -->

            <div class="head-nav" data-role="navbar">
                <ul>
                  <li><a href="index.htm" data-role="button" class="ui-control-active" ><img src="img/logo.png"></a></li>
                   <li><a href="index.htm" data-role="button" class="ui-control-inactive"><img src="img/bet2.png"></a></li>
                   <li><a href="billboard.htm" data-role="button" class="ui-control-inactive"><img src="img/billboard.png"></a></li>
                   <li><a href="mine.htm" data-role="button" class="ui-control-inactive"><img src="img/feed.png"></a></li>
                    <li><a href="index.htm" data-role="button" class="ui-control-active" ><img src="img/mine.png"></a></li>
                </ul>
             </div>
         </div>

             <div data-role="content" style="font-family:微软雅黑;">
              <div class="feed_content" >
                <div class="container_12">
                   <div class="grid_3"  style="margin-top:10px;">
                    <img src="img/second_avata.png" style="display:block;margin:0 auto;">
                   </div> 
                   <div class="grid_1"  style="margin-top:18px;">
                    <span style="display:block;width:10px;border-style:solid;border-width:8px;border-color:transparent #EAEAEA transparent transparent;float:right;"></span>
                   
                  </div>
                   <div  class="grid_7" >    
                    <div  contenteditable="true" type="text" name="name" id="name" style="background-color:#EAEAEA;border-radius:5px;min-height:35px;margin-top:10px;border:none;overflow-y:visible;outline:0;padding:5px;" value="">这次赌些啥好呢</div>
                  </div> 
                   <div class="feed_bg_middle" style="margin-top:-20px;">
                    <div class="feed_bg_left"></div>
                    <div class="feed_bg_right"></div>
                  </div>
                  </div> 

               </div>     
               <div class="feed_content">
                <div class="container_12">
                <img src="img/a.png" style="float:left;margin-left:10px;">
                 <div class="grid_1"  style="margin-top:18px;">
                    <span style="display:block;width:10px;border-style:solid;border-width:8px;border-color:transparent #EAEAEA transparent transparent;float:right;"></span>
                  </div>
                   <div  class="grid_5" >    
                    <div  contenteditable="true" type="text" name="name" id="name" style="background-color:#EAEAEA;border-radius:5px;min-height:80px;margin-top:10px;border:none;overflow-y:visible;outline:0;padding:5px;margin-bottom:10px;" value="">选项A是啥呢？</div>

                     </div> 
                   </div>

                    <div class="feed_bg_middle" style="margin-top:20px;">
                    <div class="feed_bg_left"></div>
                    <div class="feed_bg_right"></div>
                  </div>
                </div>


                 <div class="feed_content">
                <div class="container_12">
                <img src="img/b.png" style="float:left;margin-left:10px;">
                 <div class="grid_1"  style="margin-top:18px;">
                    <span style="display:block;width:10px;border-style:solid;border-width:8px;border-color:transparent #EAEAEA transparent transparent;float:right;"></span>
                  </div>
                   <div  class="grid_5" >    
                    <div  contenteditable="true" type="text" name="name" id="name" style="background-color:#EAEAEA;border-radius:5px;min-height:80px;margin-top:10px;border:none;overflow-y:visible;outline:0;padding:5px;margin-bottom:10px;" value="">选项A是啥呢？</div>
                     </div> 
                   </div>

                
                </div>

                <div style="width:100%;"><div style="margin-left:30%;margin-top:10px;"><img src="img/fabu.png"/></div></div>


      </div>

    </div>
  </body>
 </html> 