<!DOCTYPE html> 
<html> 
<head> 
   <meta name="viewport" content="width=device-width,initial-scale=1" />   
    <meta http-equiv="content-type"content="text/html; charset=UTF-8"/> 
   <title>betit</title> 
   <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
   <link rel="stylesheet" type="text/css" href="ww.css">
   <link rel="stylesheet" href="jquery-mobile-fluid960.min.css">
   <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
   <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
   <style type="text/css">
        
   </style>
</head>
<body>
    <div data-role="page" data-theme="d" data-fullscreen="true"  class="bet_bg">
       <div data-role="header">
         <!--  <div class="ui-grid-c" style="text-align:center;">
            <div class="ui-block-a" style="margin-top:10px;"><img src="img/logo.png"></div>
            <div class="ui-block-b"><img src="img/bet2.png"></div>
            <div class="ui-block-c"><img src="img/billboard.png"></div>
            <div class="ui-block-d"><img src="img/login.png"></div>
          </div> -->
       <!--    <div class="segmented-control ui-bar-d">
             <div data-role="controlgroup" data-type="horizontal">
               <a href="#" data-role="button" class="ui-control-active" ><img src="img/logo.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/bet2.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/billboard.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/login.png"></a>
             </div>

          </div> -->

          <div class="head-nav" data-role="navbar">
             <ul>
              <li><a href="index.htm" data-role="button" class="ui-control-active" ><img src="img/logo.png"></a></li>
                   <li><a href="index.htm" data-role="button" class="ui-control-inactive"><img src="img/bet2.png"></a></li>
                   <li><a href="billboard.htm" data-role="button" class="ui-control-inactive"><img src="img/billboard.png"></a></li>
                   <li><a href="mine.htm" data-role="button" class="ui-control-inactive"><img src="img/login.png"></a></li>
             </ul>
          </div>
      </div>


      <div data-role="content">
        <div>
        <div class="container_12 notice_feed">
                 <img class="notice_avata"  src="img/first_avata.png">
                 <div class="notice_feed_content">
                    <b>甘露露</b>在我发起的"<span style="color:red;">干露露和凤姐，谁是世界上最丑的女人</span>"中选了“甘露露”
                    <div class="delta"></div>
                 </div>         
          </div>
         <div class="notice_border"></div>
        </div>  

      <div>
        <div class="container_12 notice_feed">
                 <img class="notice_avata"  src="img/first_avata.png">
                 <div class="notice_feed_content">
                    <b>甘露露</b>在我发起的"<span style="color:red;">干露露和凤姐，谁是世界上最丑的女人</span>"中选了“甘露露”
                    <div class="delta"></div>
                 </div>         
          </div>
         <div class="notice_border"></div>
        </div>  


      <a href="#" data-role="button" data-theme="c">更多消息</a>

    </div>


       <div data-role="c​​ontrolgroup" data-type="horizo​​ntal"  style="text-align:center;">
  
      <a href="#">使用帮助</a>
      <a href="#">下载</a>
      <a href="#">媒体合作</a>
      <a href="#">关于我们</a>
      
  
  </div>

 
   

</div>
</body>
</html>