<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset= utf-8"/>
<title>betit官网页脚文字部分</title>
<link href="../../styles/newstyle.css" type="text/css" rel="stylesheet" />
<!--<script type="text/javascript">
function ChangeBg(obj)
{
var Pobject=obj.parentNode;
var Cobj= Pobject.childNodes;
for(var i=0;i<Cobj.length;i++)
{                        
Cobj[i].className=''
}
obj.className="changeBg";
}
</script>
-->

<script>
i=null
function aa(x)
{
if(i!==null)
i.style.backgroundColor="#666666"
x.style.backgroundColor="#FF0000"
i=x
}
</script>

</head>

<body>
             <div id="header">
                        <div class="nav">
                                     <div class="navleft"><a href="#"><img src="org_img/logo.jpg" /></a></div>
                                     <div class="navright">
                                                
                                          <ul class="u1">
                                                   <li class="num1"><a href="../../space.php?do=betit"><ul class="u6"><li class="li01"><i class="pic01"></i></li><li class="li02"  onclick="style.color='#FCD422'">首页</li></ul></a></li>
                                                   <li class="num2"><a href="../../space.php?do=betit&op=download" ><ul class="u6"><li class="li01"><i class="pic02"></i></li><li class="li02"  onclick="style.color='#FCD422'" >下载</li></ul></a></li>
                                                   <li class="num3"><a href="../../space.php?do=betit&op=hot"><ul class="u6"><li class="li01"><i class="pic03"></i></li><li class="li02"  onclick="style.color='#FCD422'">热门</li></ul></a></li>
                                                   <li class="num4"><a href="../../space.php?do=betit&op=team"><ul class="u6"><li class="li01"><i class="pic04"></i></li><li class="li02"   onclick="style.color='#FCD422'">团队</li></ul></a></li>
                                                   <li class="num5"><a href="../../space.php?do=betit&op=weibo"><ul class="u6"><li class="li01"><i class="pic05"></i></li><li class="li02"  onclick="style.color='#FCD422'" >进入</li></ul></a></li>
                                                   
                                          </ul>
                                        
                                
                                     </div>
                        </div>
                        
             </div>
             
             <div id="content">
                          <div class="content-inner">
                                     <div class="bottom-b"></div><!--Bĵײһdiv-->
                                     
                                    
                                     <div class="helpandcontact">
                                     
                                               <div class="contact_left">
                                                         <ul class="contact_nav">
                                                                 <li onclick="aa(this)" ><a href="#" onclick="document.getElementById('about').style='block';document.getElementById('about').style.display='block';document.getElementById('coor').style.display='none' ;document.getElementById('help').style.display='none'">关于我们</a></li>
                                                                 <li onclick="aa(this)" ><a href="#" onclick="document.getElementById('about').style.display='none';document.getElementById('coor').style.display='block' ;document.getElementById('help').style.display='none'">媒体合作</a></li>
                                                                 <li onclick="aa(this)" ><a href="#" onclick="document.getElementById('about').style.display='none';document.getElementById('coor').style.display='none' ;document.getElementById('help').style.display='block'">使用帮助</a></li>
                                                         </ul>
                                               </div>
                                               <div class="contact_right">
                                                        <div id="about">
                                                                       <h1 class="us">关于我们:</h1>
                                                                       <ul class="aboutusone">       <li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大赢家（www.betit.cn）是一个以竞猜为主题的社交平台。在这里有各色竞猜可以参与。有体育比赛类、新闻、八卦等。只要有胜负结果关系的，都会成为大赢家的竞猜内容。</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;用户不仅可以参与官方发布的竞猜活动，还可以自己发起竞猜，并且邀请好朋友一起来参与。</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大赢家（www.betit.cn）不是一个赌博性质的网站。参与竞猜只可以通过虚拟金币，进行下注。竞猜奖励也只能够获得虚拟金币。虚拟金币不会以任何形式兑换成现金。我们鼓励那些有益身心的竞猜形式。绝不涉赌，使我们的底线。</li>
        </ul>

<ul class="aboutustwo">
<li>大赢家联系方式：</li>
<li>公司：广州市宏门网络科技有限公司</li>
<li>地址：（本部）广州市越秀区寺右二马路冠城大厦322房</li>
<li class="career">            （运营事业部）广州市天河区华景新城创富园怡馨阁31-32D</li>
<li>客服电话：400 885 1685</li>
<li>传真：020-87381714</li>
<li>Email：betitcn@sina.cn</li>
<li>客服QQ：188651873</li>
<li>新浪微博：@大赢家官博</li>
<li>微信号： 大赢家 </li>
<li>微信二维码：<div class="twoma"><a href="#"><img src="../../image/org_img/twoma.jpg" /></a></div></li>

</ul>
                                                        </div>
                                                        <div id="coor">
                                                                       <h1 class="us">媒体合作:</h1>
                                                                       <ul class="aboutusone"><li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大赢家（www.betit.cn）欢迎各种电视媒体、网络媒体、平面媒体进行广泛的合作。只要您有竞猜互动、调查问卷等形式的需求，都欢迎您加入到大赢家网站平台来举行。</li>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;合作媒体，我们会将其作为vip用户对待，并在2013年内可以获得免费、不限次数发送竞猜的会员资格。我们对体育比赛相关的电视节目、新闻媒体，还有更大力的支持。可以进行专属的竞猜页面的和手机版本主题竞猜页面提供。欢迎来电垂询。</li>
<li>媒体合作电话：400 885 1685</li>
<li>合作案例：</li>
<li class="example">
      <div class="coorleft">广东体育</div>
      <div class="coorright"><p>>NBA 直播竞猜互动</p>
<p>>CBA 直播互动</p>
<p>>美在花城冠军决选</p></div>
<div class="clear"></div>
</li>
<li class="example">
      <div class="coorleft">广东体育</div>
      <div class="coorright"><p>>NBA 直播竞猜互动</p>
<p>>CBA 直播互动</p>
<p>>美在花城冠军决选</p></div>
<div class="clear"></div>
</li>
<li class="example">
      <div class="coorleft">广东体育</div>
      <div class="coorright"><p>>NBA 直播竞猜互动</p>
<p>>CBA 直播互动</p>
<p>>美在花城冠军决选</p></div>
<div class="clear"></div>
</li>

                                                        </div>
                                                        <div id="help">
                                                                       <h1 class="us">使用帮助:</h1>
                                                                       <ul class="aboutusone"><li>一、网站版使用帮助</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录地址：www.betit.cn</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登录方式：通过新浪微博、腾讯微博登录便可</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;胜负方式：在竞猜栏目下，您可以参加任何还没有过期的竞猜。一次最都下注3次。等待公布答案后，胜利者按照下注份数平分奖金池中的金币总量。</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;惩罚方式：逾期不公布答案，或者恶意公布错误答案者，将被扣除金币和信用。</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布竞猜：您也可以自己发布一个竞猜，邀请好朋友共同参与。我们支持支两个备选答案的竞猜。</li>

<li>二、客户端下载帮助</li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iphone客户端：本地下载    app store   91助手  威锋网  pp助手  </li>
<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Android客户端：本地下载   91助手  安卓市场  安智市场 机锋网  pp助手</li></ul>
                                                        </div>
                                               </div>
                                                 
                                     </div>
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                          </div>
                          <div class="content-footer"> 
                          
                          <ul class="u4">
                                                      
                             <li><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;  |   &nbsp;&nbsp;&nbsp;   <a href="#">媒体合作</a> &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp; <a href="#">使用帮助</a>   </li>
                             
                        
                        
                        </ul>
                        <ul class="u5">
                        <li><span class="copyright">Copyright @ 2010 广州市宏门网络科技有限公司 版权所有 - 粤ICP备08132436号 </span></li></ul>
                        
                          
                          </div>   
                          
             </div>
             
             
             
</body>
</html>
