<meta http-equiv="Content-Type" content="text/html; charset= utf-8" />


       
        <ul>
          <li class="s_clear " id="feed_560_li" >
            <div style="width:100%;overflow:hidden;">
              <div id="whitehead"> <a class="type" href="space.php?uid=&amp;do=feed&amp;view=all&amp;appid=1&amp;icon=quiz" title="只看此类动态"><img style="width:48px; height:48px;" src="img/3.jpg"></a> <a class="newbettitle" target="_blank" href="#" >白雪琪 : </a><a target="_blank" href="space.php?uid=15&amp;do=quiz&amp;id=175"  class="newtitle02">哪部手机更受欢迎？</a> <span class="gray">1小时前</span> </div>
              <div class="feed_content" id="whitebody">
                <div class="twopic" style="">
                  <div class="picone"> <a href="#" target="_blank"><img src="img/picleft.png" class="summaryimg"></a> </div>
                  <div class="middle"><div>
                    ￥ 14500 </div><img style="margin-top:20px; width:70px; height:50px;" src="img/vs.png"> </div>
                  <div class="pictwo"> <a href="#" target="_blank"><img src="img/picright.png" class="summaryimg"></a></div>
                  <div class="clear" style="clear:both;"></div>
                </div>
                <div class="twoword" >
                  <div class="leftword" style="float:left; width:120px; height:30px; overflow:hidden; background:url(img/black.png); text-align:center;">小米2代</div>
                  <div class="rightword" style="float:right; width:120px; height:30px; overflow:hidden; background:url(img/black.png); text-align:center;">Iphone5</div>
                </div>
                <div class="twohand">
                  <div class="lefthand" style="float:left; color:#DA5252; font-size:25px;"><a href="#"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="img/lefthand.png"></a>120</div>
                  <div class="midhand" style=" float:left; width:110px; height:40px; margin-left:63px; background:url(img/price.png) no-repeat; text-align:center; line-height:40px; font-family:'微软雅黑'; font-size:25px; ">00:09:12</div>
                  <div class="righthand" style="float:right; color:#DA5252; font-size:25px;">125<a href="#"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="img/righthand.png"></a></div>
                  <div class="clear" style="clear:both;"></div>
                </div>
              </div>
              <div id="whitefoot"> <a class="type" href="space.php?uid=&amp;do=feed&amp;view=all&amp;appid=1&amp;icon=quiz" title="只看此类动态"><img style="width:38px; height:38px; margin-top:5px;" src="img/2.jpg"></a> <a class="newbettitletitle" target="_blank" href="#" >小清新 : </a><a target="_blank" href="space.php?uid=15&amp;do=quiz&amp;id=175"  class="newtitle0202">哪部手机更受欢迎？</a> <span class="graygray">1小时前</span> </div>
            </div>
          </li>
        </ul>
        
        <ul>
          <li class="s_clear " id="feed_560_li">
            <div style="width:100%;overflow:hidden;">
              <div id="whitehead"> <a class="type" href="space.php?uid=&amp;do=feed&amp;view=all&amp;appid=1&amp;icon=quiz" title="只看此类动态"><img style="width:48px; height:48px;" src="img/3.jpg"></a> <a class="newbettitle" target="_blank" href="#" >白雪琪 : </a><a target="_blank" href="space.php?uid=15&amp;do=quiz&amp;id=175"  class="newtitle02">哪部手机更受欢迎？</a> <span class="gray">1小时前</span> </div>
              <div class="feed_content" id="whitebody">
                <div class="twopic" style="">
                  <div class="picone"> <a href="#" target="_blank"><img src="img/nopicA.png" class="summaryimg"></a> </div>
                  <div class="middle"> <div>
                    ￥ 14500</div> <img style="margin-top:20px; width:70px; height:50px;" src="img/vs.png"> </div>
                  <div class="pictwo"> <a href="#" target="_blank"><img src="img/nopicB.png" class="summaryimg"></a></div>
                  <div class="clear" style="clear:both;"></div>
                </div>
                <div class="twoword" >
                  <div class="leftword" style="float:left; width:120px; height:30px; overflow:hidden; background:url(img/black.png); text-align:center;">小米2代</div>
                  <div class="rightword" style="float:right; width:120px; height:30px; overflow:hidden; background:url(img/black.png); text-align:center;">Iphone5</div>
                </div>
                <div class="twohand">
                  <div class="lefthand" style="float:left; color:#DA5252; font-size:25px;"><a href="#"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="img/lefthand.png"></a>120</div>
                  <div class="midhand" style=" float:left; width:110px; height:40px; margin-left:63px; background:url(img/price.png) no-repeat; text-align:center; line-height:40px; font-family:'微软雅黑'; font-size:25px; ">00:09:12</div>
                  <div class="righthand" style="float:right; color:#DA5252; font-size:25px;">125<a href="#"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="img/righthand.png"></a></div>
                  <div class="clear" style="clear:both;"></div>
                </div>
              </div>
              <div id="whitefoot"> <a class="type" href="space.php?uid=&amp;do=feed&amp;view=all&amp;appid=1&amp;icon=quiz" title="只看此类动态"><img style="width:38px; height:38px; margin-top:5px;" src="img/2.jpg"></a> <a class="newbettitletitle" target="_blank" href="#" >小清新 : </a><a target="_blank" href="space.php?uid=15&amp;do=quiz&amp;id=175"  class="newtitle0202">哪部手机更受欢迎？</a> <span class="graygray">1小时前</span> </div>
            </div>
          </li>
        </ul>
         
        <ul>
          <li class="s_clear " id="feed_560_li" >
            <div style="width:100%;overflow:hidden;">
              <div id="whitehead"> <a class="type" href="space.php?uid=&amp;do=feed&amp;view=all&amp;appid=1&amp;icon=quiz" title="只看此类动态"><img style="width:48px; height:48px;" src="img/3.jpg"></a> <a class="newbettitle" target="_blank" href="#" >白雪琪 : </a><a target="_blank" href="space.php?uid=15&amp;do=quiz&amp;id=175"  class="newtitle02">哪部手机更受欢迎？</a> <span class="gray">1小时前</span> </div>
              <div class="feed_content" id="whitebody">
                <div class="twopic" style="">
                  <div class="picone"> <a href="#" target="_blank"><img src="img/picleft.png" class="summaryimg"></a> </div>
                  <div class="middle"><div>
                    ￥ 14500 </div><img style="margin-top:20px; width:70px; height:50px;" src="img/vs.png"> </div>
                  <div class="pictwo"> <a href="#" target="_blank"><img src="img/picright.png" class="summaryimg"></a></div>
                  <div class="clear" style="clear:both;"></div>
                </div>
                <div class="twoword" >
                  <div class="leftword" style="float:left; width:120px; height:30px; overflow:hidden; background:url(img/black.png); text-align:center;">小米2代</div>
                  <div class="rightword" style="float:right; width:120px; height:30px; overflow:hidden; background:url(img/black.png); text-align:center;">Iphone5</div>
                </div>
                <div class="twohand">
                  <div class="lefthand" style="float:left; color:#DA5252; font-size:25px;"><a href="#"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="img/lefthand.png"></a>120</div>
                  <div class="midhand" style=" float:left; width:110px; height:40px; margin-left:63px; background:url(img/price.png) no-repeat; text-align:center; line-height:40px; font-family:'微软雅黑'; font-size:25px; ">00:09:12</div>
                  <div class="righthand" style="float:right; color:#DA5252; font-size:25px;">125<a href="#"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="img/righthand.png"></a></div>
                  <div class="clear" style="clear:both;"></div>
                </div>
              </div>
              <div id="whitefoot"> <a class="type" href="space.php?uid=&amp;do=feed&amp;view=all&amp;appid=1&amp;icon=quiz" title="只看此类动态"><img style="width:38px; height:38px; margin-top:5px;" src="img/2.jpg"></a> <a class="newbettitletitle" target="_blank" href="#" >小清新 : </a><a target="_blank" href="space.php?uid=15&amp;do=quiz&amp;id=175"  class="newtitle0202">哪部手机更受欢迎？</a> <span class="graygray">1小时前</span> </div>
            </div>
          </li>
        </ul>
        
        

