<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>betit官网</title>
<link href="styles/newstyle.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="js/org_js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/org_js/webwidget_tip_imagesAdSense.js"></script>
<script language="javascript" type="text/javascript">
            $(function() {
                $("#image_AdSense3").webwidget_tip_imagesAdSense({
                    tip_button_style: 'interrogation',
                    tip_button_autohide: 'enable',
                    tip_content_font_color: '#fff',
                    tip_content_background_color: '#DDDDDD',
                    tip_content_border_color: '#000',
                    tip_content_width: '250',
                    position_data:[{x:"240",y:"127"},{x:"369",y:"233"},{x:"663",y:"170"},{x:"219",y:"339"},{x:"312",y:"450"},{x:"469",y:"415"},{x:"622",y:"516"},{x:"738",y:"318"},{x:"439",y:"163"},{x:"663",y:"70"}],

                    directory: 'image/org_img'
                });
               
            });
        </script> 
<style type="text/css">body{font-family: Arial,"微软雅黑";}</style>
</head>

<body>
           <div id="header">
  <div class="nav">
    <div class="navleft"><a href="space.php?do=betit"><img src="image/org_img/logo.jpg" /></a></div>
    <div class="navright">
      <ul class="u1">
        <li class="num1"><a href="space.php?do=betit">
          <ul class="u6">
            <li class="li01"><i class="pic01"></i></li>
            <li class="li02"   onclick="style.color='#FCD422'">首页</li>
          </ul>
          </a></li>
        <li class="num2"><a href="space.php?do=betit&op=download" >
          <ul class="u6">
            <li class="li01"><i class="pic02"></i></li>
            <li class="li02"  onclick="style.color='#FCD422'" >下载</li>
          </ul>
          </a></li>
        <li class="num3"><a href="space.php?do=betit&op=hot">
          <ul class="u6">
            <li class="li01"><i class="pic03"></i></li>
            <li class="li02"  onclick="style.color='#FCD422'">热门</li>
          </ul>
          </a></li>
        <li class="num4yell"><a href="space.php?do=betit&op=team">
          <ul class="u6">
            <li class="li01"><i class="pic04"></i></li>
            <li class="li02"   onclick="style.color='#FCD422'"><font class="f1">团队</font></li>
          </ul>
          </a></li>
        <li class="num5"><a href="space.php?do=betit&op=weibo"><ul class="u6"><li class="li01"><i class="pic05"></i></li><li class="li02"  onclick="style.color='#FCD422'" >进入</li></ul></a></li>
         
      </ul>
    </div>
  </div>
</div>
             
             
           
              <div id="content">
                          <div class="content-innerload">
                                     <div class="bottom-b"></div>
                                     <div id="image_AdSense3" style="background:url(image/org_img/teambg.jpg) no-repeat; height:900px;margin-left:6px">
                                          
                                          <ul id="image_AdSense3_content"><!--人物是分两行从左到右-->
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/goodluckze"><img src="image/org_img/fang.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/goodluckze"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/goodluckze"><strong>我是方小泽</strong></a><br/>住的是不是不会遗忘，我守护着如泡沫般脆弱的梦境，快乐才刚开始，悲伤早已潜伏而来 </td>

                                                   </tr>
                                                 </table>
                                               </li>
                                              <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/mingchun2010"><img src="image/org_img/zheng.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/mingchun2010"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/mingchun2010"><strong>懣缫男--成武</strong></a><br/>
                                                      "理想很伟大～现实很残酷～" </td>

                                                   </tr>
                                                 </table>
                                               </li> 
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/u/1913260644"><img src="image/org_img/fat.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/u/1913260644"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/u/1913260644"><strong>fat___lin</strong></a><br/>
                                                       车水马龙，两眼朦胧时，心里的是谁?而谁又在等谁?谁又很久没遇到谁?谁又敢不敢跟谁这样瞎耗着?。。。</td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/cguess"><img src="image/org_img/chen.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/cguess"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/cguess"><strong>晓_日出之前</strong></a><br/>以一般人而言，最简便的修养方法是读书 </td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/u/1779669021?is_ori=1"><img src="image/org_img/shan.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/u/1779669021?is_ori=1"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/u/1779669021?is_ori=1"><strong>minamiyama</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/u/1844094602"><img src="image/org_img/real.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/u/1844094602"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/u/1844094602"><strong>里尔先生mrreal</strong></a><br/>
                                                      大部分vc都是p，大部分天使都是shit </td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/aevit"><img src="image/org_img/wu.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/aevit"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/aevit"><strong>Aevit</strong></a><br/>
                                                       做一个简单的人，平和而执着，谦虚而无畏。 </td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="image/org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="#"><strong>刁志敏</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>  
											      <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/u/1776531225"><img src="image/org_img/chibi.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/u/1776531225"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/u/1776531225"><strong>Chibi猫</strong></a><br/>
                                                       用兴趣养活自己，将兴趣变成事业！uiue设计 / 移动互联网 / 漫画插画  </td>

                                                   </tr>
                                                 </table>
                                               </li> 
											      <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="http://weibo.com/summit4you"><img src="image/org_img/chocice.jpg" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href="http://weibo.com/summit4you"><img src="image/org_img/guanzhu.jpg"></a></td>
                                                     <td><a href="http://weibo.com/summit4you"><strong>chocice</strong></a><br/>
                                                       平凡人 爱,温暖人而不让人失去理智,不需要太高温度,和体温差不多,37度就可以了 </td>
                                                   </tr>
                                                 </table>
                                               </li> 
                                          </ul>
                                     </div>


                          </div>

                          <div class="content-footer"> 
                          
                          <ul class="u4">
                                                      
                             <li><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;  |   &nbsp;&nbsp;&nbsp;   <a href="#">媒体合作</a> &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp; <a href="#">使用帮助</a>   </li>
                             
                        
                        
                        </ul>
                        <ul class="u5">
                        <li><span class="copyright">Copyright @ 2010 广州市宏门网络科技有限公司 版权所有 - 粤ICP备08132436号</span></li></ul>
                        
                          
                          </div>         
                          
             </div>
             
</body>
</html>
