<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>betit官网</title>
<link href="styles/newstyle.css" type="text/css" rel="stylesheet" />
<script src="js/js/index.js"></script>

</head>

<body onload="shoppingcat()">
<div id="TopTipHolder"><div id="TopTip"><li class="tomorrowone">第二天，你会 &nbsp;&nbsp;. . . </li><li class="tomorrowtwo">醒来&nbsp;?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;死去&nbsp;?</li></div><div id="TopTipClose" title="关闭"><a href="#">关闭广告</a></div>
<div id="linkto"><a href="space.php?do=feed">马上竞猜</a></div>

</div>

<script>
/* 
 * 页面顶部提示栏效果(TopTipEffect)
 *  
 * author: 爱微网
 * version: 1.0.0
 * @param {string}    id           tip提示标签id
 * @param {string}    holderId     父标签
 * @param {bool}      expand       展开/收起
 * @param {string}    step         每次移动步长
 * @param {object}    speed        移动速度
 */
var TopTipEffect = function(id, holderId, expand, step, speed){
    this.obj = document.getElementById(id);
    this.holder = document.getElementById(holderId);
    this.step = step;
    this.speed = speed;
    this.expand = expand;
    this.maxH = this.obj.offsetHeight;
    this.moveT = null;
    this.moving = false;
    this.tempH = expand ? 0 : this.maxH;
}
TopTipEffect.prototype = {
    play : function(){
        if(this.moving) return;
        if(this.holder.offsetHeight > this.maxH) return;
        var _this = this;
        this.moveT = setInterval(function(){_this.move()}, _this.speed);
    },
    move : function(){
        this.moving = true;
        if(this.expand){
            this.tempH += this.step;
            if(this.tempH > this.maxH){
                if((this.tempH - this.maxH) >= this.step){
                    this.expand = false;
                    this.moving = false;
                    clearInterval(this.moveT);
                    return;
                }else{
                    this.tempH = this.maxH;
                }
            }
        }else{
            this.tempH -= this.step;
            if(this.tempH < 0){
                if(-this.tempH >= this.step){
                    this.expand = true;
                    this.moving = false;
                    clearInterval(this.moveT);
                    return;
                }else{
                    this.tempH = 0;
                }
            }
        }
        this.holder.style.height = this.tempH + "px";
        this.holder.scrollTop = this.maxH - this.tempH;
    }
}
var mytip = new TopTipEffect("TopTip", "TopTipHolder", true, 10, 5);
mytip.play();
//右上角关闭按钮点击
document.getElementById("TopTipClose").onclick = function(){
    mytip.play();
}
</script>
             <div id="header">
                        <div class="nav">
                                     <div class="navleft"><a href="space.php?do=betit"><img src="image/org_img/logo.jpg" /></a></div>
                                     <div class="navright">
                                                
                                            <ul class="u1">
                                                   <li class="num1yell"><a href="space.php?do=betit"><ul class="u6"><li class="li01"><i class="pic01"></i></li><li class="li02"  onclick="style.color='#FCD422'"><font class="f1">首页</font></li></ul></a></li>
                                                   <li class="num2"><a href="space.php?do=betit&op=download" ><ul class="u6"><li class="li01"><i class="pic02"></i></li><li class="li02"  onclick="style.color='#FCD422'" >下载</li></ul></a></li>
                                                   <li class="num3"><a href="space.php?do=betit&op=hot"><ul class="u6"><li class="li01"><i class="pic03"></i></li><li class="li02"  onclick="style.color='#FCD422'">热门</li></ul></a></li>
                                                   <li class="num4"><a href="space.php?do=betit&op=team"><ul class="u6"><li class="li01"><i class="pic04"></i></li><li class="li02"   onclick="style.color='#FCD422'">团队</li></ul></a></li>
                                                   <li class="num5"><a href="space.php?do=betit&op=weibo"><ul class="u6"><li class="li01"><i class="pic05"></i></li><li class="li02"  onclick="style.color='#FCD422'" >进入</li></ul></a></li>
                                                   
                                          </ul>
                                        
                                
                                     </div>
                        </div>
                        
             </div>
             
             <div id="content">
                          <div class="content-inner">
                                     <div class="bottom-b"></div><!--顶部B的底部独立做一个div-->
                                     
                                     <div class="threepic">
                                          <div id="div1" style="">
                                                      <div class="one"><img src="image/org_img/one.jpg"/></div>
                                                      <div class="two">
                                                                <div class="two01"><a href="#"><img src="image/org_img/two01.jpg" /></a></div>
                                                                <div class="two02"><a href="space.php?do=feed"><img src="image/org_img/two02.jpg" /></a></div>
                                                      </div>
                                          </div>
                                               
                                               <div id="div2"><img src="image/org_img/div2.jpg" /></div>
                                               <div id="div3"><img src="image/org_img/div3.jpg"  /></div>
                                               <div id="div4"><img src="image/org_img/div4.jpg" /></div>
                                               <div id="div5"><img src="image/org_img/div5.jpg" /></div>
                                               <div id="div6"><img src="image/org_img/div6.jpg" /></div>
                                               <div id="div7"><img src="image/org_img/div7.jpg" /></div>
                                               <div id="div8"><a href="#"><img src="image/org_img/div8.jpg" /></a></div>
                                               
                                                 
                                     
                                     </div>
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                          </div>
                          <div class="content-footer"> 
                          
                          <ul class="u4">
                                                      
                             <li><a href="../betit/template/default/contact.htm">关于我们</a>&nbsp;&nbsp;&nbsp;  |   &nbsp;&nbsp;&nbsp;   <a href="../betit/template/default/contact.htm">媒体合作</a> &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp; <a href="../betit/template/default/contact.htm">使用帮助</a>   </li>
                             
                        
                        
                        </ul>
                        <ul class="u5">
                        <li><span class="copyright">Copyright @ 2010 广州市宏门网络科技有限公司 版权所有 - 粤ICP备08132436号 </span></li></ul>
                        
                          
                          </div>         
                          
             </div>
             
             
             
</body>
</html>
