<!--{eval $_TPL['titles'] = array('竟猜');}-->
<!--{template header}-->
<!---->
<!--{if !empty($_SGLOBAL[inajax])}-->
	<!--{if $list}-->
			<!--{loop $list $value}-->
	<div id="content" style="width:100%;">
	<div class="poll_list">
		<ul>
			<li>
			   <div class="poll_user">
<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
			
</div>

				<ul style="float: left;  width: 540px;">

<div style="width:100%;overflow:hidden;">
<a  target="_blank" href="space.php?uid=$value[uid]" >{$_SN[$value[uid]]}:</a><a target="_blank" href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]" >	$value[subject]</a>
<span class="gray" style="display:block; "><!--{date('m-d H:i',$value[dateline],1)}--></span>
<div class="feed_content">
<!--{if empty($_TPL[hidden_hot]) && $value[hot]}-->
			<div class="hotspot"><a href="cp.php?ac=feed&feedid=$value[feedid]">$value[hot]</a></div>
			<!--{/if}-->
<div class="twopic" style="
    padding-right: 100px;
">
<div class="picone" style="
    width: 140px;
    height: 140px;
    float: left;
">
            <!--{if $value['image_1']}-->
			<a href="$value[image_1_link]"{$value[target]}><img src="$value[image_1]" class="summaryimg" /></a>
			<!--{else}-->
			<a href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]"{$value[target]}><img src="image/org_img/nopicA.png" class="summaryimg" /></a>
			<!--{/if}-->


</div>

     <div class="middle"
				       style="
                     	text-align: center;
                        width: 120px;
                        float: left;
                        font-size: 20px;
                        font-weight: bold;
                        font-family:'微软雅黑';
                        ">
                        <br>
                       <img src="image/org_img/gold.jpg"  style="max-width:26px;max-height:25px;min-width:26px;min-height:25px"> $value[totalcost] &nbsp; &nbsp; <br>
	
                         <img style="margin-top:20px;" src="image/org_img/vs_little.jpg" style="max-width:60px;max-height:40px;min-width:60px;min-height:40px"> &nbsp; &nbsp;
                   </div>

<div class="pictwo" style="
    float: left;
    width: 140px;
height:140px;
">
                  <!--{if $value['image_2']}-->
			      <a href="$value[image_2_link]"{$value[target]}><img src="$value[image_2]" class="summaryimg" /></a>
			      <!--{else}-->
			      <a href="space.php?uid=$value[uid]&do=quiz&id=$value[qizid]"{$value[target]}><img src="image/org_img/nopicB.png" class="summaryimg" /></a>
			      <!--{/if}-->
				  </div>

<div class="clear" style="clear:both;"></div>

</div>

<div class="twoword" style="padding-right: 140px; margin-bottom:30px;">
 <!--{eval $list1 = $value[options];}-->
				<!--{loop $list1 $value2}-->
<div class="leftword" style="float:left; width:200px; overflow:hidden; ">$value2[0]</div>
<div class="rightword" style="float:right;padding-right:14px;">$value2[1]</div>
<!--{/loop}-->
</div>


<div class="twohand" style="padding-right: 140px;">
  <!--{eval $list12 = $value[votenum];}-->
<!--{loop $list12 $value8}-->
<div class="lefthand" style="float:left; color:#DA5252; font-size:25px;"><a href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="image/org_img/lefthand.jpg"></a>$value8[option][0]</div>
<div class="righthand" style="float:right; color:#DA5252; font-size:25px;padding-right:14px;">$value8[option][1]<a href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="image/org_img/righthand.jpg"></a></div>
<!--{/loop}-->
</div>

</div>
</div>




</ul>


<div class="clear" style="clear:both;"></div>






</li>


				


			
		</ul>
	</div>

	</div>

	
	
	


	</div>
</div>
<!--{/loop}-->

	

	<div id="ajax_wait"></div>
	

	
		<!--{/if}-->
	</div><br>
<!--{else}-->

<!--{if $space[self]}-->
<div class="searchbar floatright">
<form method="get" action="space.php">
	<input name="searchkey" value="" size="15" class="t_input" type="text">
	<input name="searchsubmit" value="搜索竟猜" class="submit" type="submit">
	<input type="hidden" name="searchmode" value="1" />
	<input type="hidden" name="do" value="quiz" />
	<input type="hidden" name="view" value="new" />
</form>
</div>
<h2 class="title"><img src="image/app/quiz.gif" />竟猜</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li$actives[new]><a href="space.php?uid=$space[uid]&do=$do&view=new"><span>最新竟猜</span></a></li>
		<li$actives[hot]><a href="space.php?uid=$space[uid]&do=$do&view=hot"><span>最热竟猜</span></a></li>
		<!--{if $space[friendnum]}--><li$actives[friend]><a href="space.php?uid=$space[uid]&do=$do&view=friend"><span>好友竟猜</span></a></li><!--{/if}-->
		<li$actives[me]><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的竟猜</span></a></li>
		<li class="null"><a href="cp.php?ac=quiz">发起竟猜</a></li>
	</ul>
</div>
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "竟猜";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=$do&view=me\">TA的所有竟猜</a>";
}-->
<!--{template space_menu}-->
<div class="h_status">按照竟猜发起时间排序</div>
<!--{/if}-->

<!--{if $space[self] && in_array($_GET['view'], array('me', 'hot'))}-->
<div class="h_status">
	<!--{if $_GET['view'] == 'hot'}-->
	范围：
	<a href="space.php?uid=$space[uid]&do=$do&view=hot&filtrate=all"$filtrate[all]>全部</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=hot&filtrate=week"$filtrate[week]>本周最热</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=hot&filtrate=month"$filtrate[month]>本月最热</a>
	<!--{else}-->
	类型：
	<a href="space.php?uid=$space[uid]&do=$do&view=me"$filtrate[me]>我发起的</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=me&filtrate=join"$filtrate[join]>我参与的</a>
	<span class="pipe">|</span><a href="space.php?uid=$space[uid]&do=$do&view=me&filtrate=expiration"$filtrate[expiration]>已过期的</a>
	<!--{/if}-->
</div>
<!--{/if}-->

<!--{if $searchkey}-->
<div class="h_status">以下是搜索竟猜 <span style="color:red;font-weight:bold;">$searchkey</span> 结果列表</div>
<!--{/if}-->
	
<div id="content" style="width:100%;">
	
		
	<!--{if $count}-->
	<div class="poll_list">
		<!--{loop $list $value}-->

		<ul>
		



			<li>
			   <div class="poll_user">
<div class="avatar48"><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}--></a></div>
			
</div>

				<ul style="float: left;  width: 540px;">

<div style="width:100%;overflow:hidden;">
<a  target="_blank" href="space.php?uid=$value[uid]" >{$_SN[$value[uid]]}:</a><a target="_blank" href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]" >$value[subject]</a>
<span class="gray" style="display:block; "><!--{date('m-d H:i',$value[dateline],1)}--></span>
<div class="feed_content">
<!--{if empty($_TPL[hidden_hot]) && $value[hot]}-->
			<div class="hotspot"><a href="cp.php?ac=feed&feedid=$value[feedid]">$value[hot]</a></div>
			<!--{/if}-->
<div class="twopic" style="
    padding-right: 100px;
">
<div class="picone" style="
    width: 140px;
    height: 140px;
    float: left;
">
            <!--{if $value['image_1']}-->
			<a href="$value[image_1_link]"{$value[target]}><img src="$value[image_1]" class="summaryimg" /></a>
			<!--{else}-->
			<a href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]"{$value[target]}><img src="image/org_img/nopicA.png" class="summaryimg" /></a>
			<!--{/if}-->


</div>

     <div class="middle"
				       style="
                      	text-align: center;
width: 120px;
float: left;
font-size: 20px;
font-weight: bold;
font-family:'微软雅黑';

	                  ">
                        <br>
                       <img src="image/org_img/gold.jpg" style="max-width:26px;max-height:25px;min-width:26px;min-height:25px"> $value[totalcost] &nbsp;&nbsp;<br/> 
	
                        <img src="image/org_img/vs_little.jpg" style="max-width:60px;max-height:40px;min-width:60px;min-height:40px">&nbsp; &nbsp;
                   </div>

<div class="pictwo" style="
    float: left;
    width: 140px;
height:140px;
">
                  <!--{if $value['image_2']}-->
			      <a href="$value[image_2_link]"{$value[target]}><img src="$value[image_2]" class="summaryimg" /></a>
			      <!--{else}-->
			      <a href="space.php?uid=$value[uid]&do=quiz&id=$value[qizid]"{$value[target]}><img src="image/org_img/nopicB.png" class="summaryimg" /></a>
			      <!--{/if}-->
				  </div>

<div class="clear" style="clear:both;"></div>

</div>

<div class="twoword" style="padding-right: 140px; margin-bottom:30px;">
 <!--{eval $list1 = $value[options];}-->
				<!--{loop $list1 $value2}-->
<div class="leftword" style="float:left; width:200px; overflow:hidden; ">$value2[0]</div>
<div class="rightword" style="float:right;padding-right:14px;">$value2[1]</div>
<!--{/loop}-->
</div>


<div class="twohand" style="padding-right: 140px;">
			  <!--{eval $list12 = $value[votenum];}-->
<!--{loop $list12 $value8}-->
<div class="lefthand" style="float:left; color:#DA5252; font-size:25px;"><a href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="image/org_img/lefthand.jpg"></a>$value8[option][0]</div>
<div class="righthand" style="float:right; color:#DA5252; font-size:25px;padding-right:14px; ">$value8[option][1]<a href="space.php?uid=$value[uid]&do=quiz&id=$value[quizid]"><img style="min-height:36px; min-width:32px; margin-bottom:-3px;" src="image/org_img/righthand.jpg"></a></div>
<!--{/loop}-->
</div>

</div>
</div>




</ul>


<div class="clear" style="clear:both;"></div>





	</li>

		</ul>
<!--{/loop}-->
				

		


			

	</div>

	</div>

	
	
	


	</div>
</div>


	

	<div id="ajax_wait"></div>
	

	<!--{/if}-->
<!--{/if}-->
</div>

<script type="text/javascript">
window.onscroll=function(){
	var a = document.documentElement.scrollTop==0? document.body.clientHeight : document.documentElement.clientHeight;
	var b = document.documentElement.scrollTop==0? document.body.scrollTop : document.documentElement.scrollTop;
	var c = document.documentElement.scrollTop==0? document.body.scrollHeight : document.documentElement.scrollHeight;

	if(a+b==c){
		feed_more();
	}
}
	var next = $page;
	function feed_more() {
		var x = new Ajax('XML', 'ajax_wait');
		var html = '';
		next = next + 1;
		x.get('cp.php?ac=quiz&op=get&page='+next+'&view=$_GET[view]&appid=$_GET[appid]&icon=$_GET[icon]&filtrate=$_GET[filtrate]&day=$_GET[day]', function(s){
			html = '<h4 class="feedtime"></h4>' + s;
			$('content').innerHTML += html;
		});
	}
	</script>
<!--{template footer}-->
