<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>betit</title>
<link href="styles/newstyle.css" type="text/css" rel="stylesheet" />
<style type="text/css">body{font-family: Arial,"微软雅黑";}</style>
</head>

<body> 
   <div id="header">
  <div class="nav">
    <div class="navleft"><a href="space.php?do=betit"><img src="image/org_img/logo.jpg" /></a></div>
    <div class="navright">
      <ul class="u1">
        <li class="num1"><a href="space.php?do=betit">
          <ul class="u6">
            <li class="li01"><i class="pic01"></i></li>
            <li class="li02"   onclick="style.color='#FCD422'">首页</li>
          </ul>
          </a></li>
        <li class="num2"><a href="space.php?do=betit&op=download" >
          <ul class="u6">
            <li class="li01"><i class="pic02"></i></li>
            <li class="li02"  onclick="style.color='#FCD422'" >下载</li>
          </ul>
          </a></li>
        <li class="num3"><a href="space.php?do=betit&op=hot">
          <ul class="u6">
            <li class="li01"><i class="pic03"></i></li>
            <li class="li02"  onclick="style.color='#FCD422'">热门</li>
          </ul>
          </a></li>
        <li class="num4"><a href="space.php?do=betit&op=team">
          <ul class="u6">
            <li class="li01"><i class="pic04"></i></li>
            <li class="li02"   onclick="style.color='#FCD422'">团队</li>
          </ul>
          </a></li>
        <li class="num5yell"><a href="space.php?do=betit&op=weibo">
          <ul class="u6">
            <li class="li01"><i class="pic05"></i></li>
            <li class="li02"  onclick="style.color='#FCD422'"><font class="f1">进入</font></li></ul></a></li>
      </ul>
    </div>
  </div>
</div>
             
              <div id="content">
                          <div class="content-innerload" style="height:520px;">
                             <div class="bottom-b"></div>
                                <div align=center><img id="weibo_logo" src="image/org_img/weibo_logo.jpg"></div> 
							    <div align=center><img id="weibo_betit" src="image/org_img/betit.gif"> </div>
								<div align=center>
                                <a href="connect.php?site=weibo"><img id="weibo_sina" src="image/org_img/sina.png"></a>
								<a href="connect.php?site=qq"><img id="weibo_qq" src="image/org_img/qq.png"></a>
								</div>
                          </div>

                          <div class="content-footer"> 
                          
                          <ul class="u4">
                                                      
                             <li><a href="template/default/contact.htm">关于我们</a>&nbsp;&nbsp;&nbsp;  |   &nbsp;&nbsp;&nbsp;   <a href="template/default/contact.htm">媒体合作</a> &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp; <a href="template/default/contact.htm">使用帮助</a>   </li>
                             
                        
                        
                        </ul>
                        <ul class="u5">
                        <li><span class="copyright">Copyright @ 2010 广州市宏门网络科技有限公司 版权所有 - 粤ICP备08132436号</span></li></ul>
                        
                          
                          </div>         
                          
             </div>
             
</body>
</html>
