<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>betitload</title>

<link href="styles/newstyle.css" type="text/css" rel="stylesheet" />


</head>

<body>
 <div id="header">
  <div class="nav">
    <div class="navleft"><a href="space.php?do=betit"><img src="image/org_img/logo.jpg" /></a></div>
    <div class="navright">
      <ul class="u1">
        <li class="num1"><a href="space.php?do=betit">
          <ul class="u6">
            <li class="li01"><i class="pic01"></i></li>
            <li class="li02"   onclick="style.color='#FCD422'">首页</li>
          </ul>
          </a></li>
        <li class="num2yell"><a href="space.php?do=betit&op=download" >
          <ul class="u6">
            <li class="li01"><i class="pic02"></i></li>
            <li class="li02"  onclick="style.color='#FCD422'" ><font class="f1">下载</font></li>
          </ul>
          </a></li>
        <li class="num3"><a href="space.php?do=betit&op=hot">
          <ul class="u6">
            <li class="li01"><i class="pic03"></i></li>
            <li class="li02"  onclick="style.color='#FCD422'">热门</li>
          </ul>
          </a></li>
        <li class="num4"><a href="space.php?do=betit&op=team">
          <ul class="u6">
            <li class="li01"><i class="pic04"></i></li>
            <li class="li02"   onclick="style.color='#FCD422'">团队</li>
          </ul>
          </a></li>
        <li class="num5"><a href="space.php?do=betit&op=weibo"><ul class="u6"><li class="li01"><i class="pic05"></i></li><li class="li02"  onclick="style.color='#FCD422'" >进入</li></ul></a></li>
         
      </ul>
    </div>
  </div>
</div>
             
             <div id="content">
                          <div class="content-innerload" id="loadheight">
                                     <div class="bottom-b"></div>
                                     <div class="iphoneload">
                                        <div class="free"></div>
                                        <div class="ab"></div>
                                        <div class="betit"></div>
                                        <div class="style"></div>
                                        <div class="appstore"><a href="https://itunes.apple.com/us/app/da-ying-jia/id588217973?mt=8" target="_blank"></a></div>
                                        <div class="googleplay"><a href="#"></a></div>
                                        <div class="huoqu_button"></div>
                                        <div class="huoqukuang">
                                           <ul>
                                            <li><a href="http://apk.hiapk.com/html/2013/01/1128175.html?module=256&info=J1lijbZb">安卓市场</a></li>
                                            <li><a href="http://apk.91.com/Soft/Android/com.betnew-1.html">91手机助手</a></li>
											<li><a href="http://www.lenovomm.com/appstore/html/pcAppDetail.html?11086525">乐商店</a></li>
											<li><a href="http://app.hicloud.com/app/C158985">智汇云</a></li>
											<li><a href="http://as.baidu.com/a/item?docid=2203679&pre=web_am_se">百度应用市场</a></li>
											<li><a href="http://app.sogou.com/detail/1syg240s">搜狗应用市场</a></li>
                                           </ul>
                                        </div>
                                     </div>


                          </div>
                          <div class="content-footer"> 
                          
                          <ul class="u4">
                                                      
                          <li><a href="template/default/contact.htm">关于我们</a>&nbsp;&nbsp;&nbsp;  |   &nbsp;&nbsp;&nbsp;   <a href="template/default/contact.htm">媒体合作</a> &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp; <a href="template/default/contact.htm">使用帮助</a>   </li>
                             
                        
                        
                        </ul>
                        <ul class="u5">
                        <li><span class="copyright">Copyright @ 2010 广州市宏门网络科技有限公司 版权所有 - 粤ICP备08132436号</span></li></ul>
                        
                          
                          </div>         
                          
             </div>
             
             
             
</body>
</html>
