<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>betit官网</title>
<link href="newstyle.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="org_js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="org_js/webwidget_tip_imagesAdSense.js"></script>
<script language="javascript" type="text/javascript">
            $(function() {
                $("#image_AdSense3").webwidget_tip_imagesAdSense({
                    tip_button_style: 'interrogation',
                    tip_button_autohide: 'enable',
                    tip_content_font_color: '#fff',
                    tip_content_background_color: '#DDDDDD',
                    tip_content_border_color: '#000',
                    tip_content_width: '250',
                    position_data:[{x:"240",y:"127"},{x:"369",y:"233"},{x:"663",y:"170"},{x:"259",y:"339"},{x:"332",y:"450"},{x:"469",y:"415"},{x:"622",y:"516"},{x:"738",y:"318"}],

                    directory: 'org_img'
                });
               
            });
        </script> 
<style type="text/css">body{font-family: Arial,"微软雅黑";}</style>
</head>

<body>
             <div id="header">
                        <div class="nav">
                                     <div class="navleft"><a href="#"><img src="org_img/logo.jpg" /></a></div>
                                     <div class="navright">
                                                
                                         <ul class="u1">
                                                   <li class="num1"><a href="newindex.html"><ul class="u6"><li class="li01"><i class="pic01"></i></li><li class="li02"   onclick="style.color='#FCD422'">首页</li></ul></a></li>
                                                   <li class="num2"><a href="load.html" ><ul class="u6"><li class="li01"><i class="pic02"></i></li><li class="li02"  onclick="style.color='#FCD422'" >下载</li></ul></a></li>
                                                   <li class="num3"><a href="hot.html"><ul class="u6"><li class="li01"><i class="pic03"></i></li><li class="li02"  onclick="style.color='#FCD422'">热门</li></ul></a></li>
                                                   <li class="num4yell"><a href="team2.html"><ul class="u6"><li class="li01"><i class="pic04"></i></li><li class="li02"   onclick="style.color='#FCD422'"><font class="f1">团队</font></li></ul></a></li>
                                                   <li class="num5"><a href="hot.html"><ul class="u6"><li class="li01"><i class="pic05"></i></li><li class="li02"  onclick="style.color='#FCD422'" >进入</li></ul></a></li>
                                                   
                                          </ul>
                                
                                     </div>
                        </div>
                        
             </div>
             
             
           
              <div id="content">
                          <div class="content-innerload">
                                     <div class="bottom-b"></div>
                                     <div id="image_AdSense3" style="background:url(org_img/teambg.jpg) no-repeat; height:900px;margin-left:6px">
                                          
                                          <ul id="image_AdSense3_content"><!--人物是分两行从左到右-->
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>
                                              <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li> 
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>  
                                               <li>
                                                 <table>
                                                   <tr>
                                                     <td id="touxiang"><a href="#"><img src="org_img/touxiang.png" height="50px" border="0"/></a></td>
                                                     <td id="guanzhu"><a href=""><img src="org_img/guanzhu.png"></a></td>
                                                     <td><a href="#"><strong>VINCENT</strong></a><br/>
                                                       我自己坐在地铁里想歌词，眼泪止不住流，又怕让人看见。跟青春、梦想碰到一块的时候，感觉这就对了! ——《老男孩》</td>

                                                   </tr>
                                                 </table>
                                               </li>   
                                          </ul>
                                     </div>


                          </div>

                          <div class="content-footer"> 
                          
                          <ul class="u4">
                                                      
                             <li><a href="#">关于我们</a>&nbsp;&nbsp;&nbsp;  |   &nbsp;&nbsp;&nbsp;   <a href="#">媒体合作</a> &nbsp;&nbsp;&nbsp; |  &nbsp;&nbsp;&nbsp; <a href="#">使用帮助</a>   </li>
                             
                        
                        
                        </ul>
                        <ul class="u5">
                        <li><span class="copyright">Copyright @ 2010 广州市宏门网络科技有限公司 版权所有 - 粤ICP备08132436号</span></li></ul>
                        
                          
                          </div>         
                          
             </div>
             
</body>
</html>
