<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<TITLE>FamilyDay，让一家人团聚</TITLE>
<META name=keywords content=main>
<META name=description content=main>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META content=no-cache http-equiv=Cache-Control>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="js/jquery.mobile-1.3.0-beta.1.min.css " />
<link rel="stylesheet" href="css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" href="css/jquery-mobile-fluid960.min.css" />
<link rel="stylesheet"  href="css/styles.css">
<script type="text/javascript" src="js/cls.js">

 
</script>


<script type="text/javascript">
/*	$("#main").live("pagebeforeshow", function(event, data) {
		$('.ui-icon').wrap(document.createElement("span"));
	});
*/	
$CLS.script("js/jquery-1.8.2.min.js").wait()
      .script("js/jquery.mobile-1.3.0-beta.1.min.js")
      .script("js/jquery.retina.js")
      .wait(function() {
         

      });
</script>

</HEAD>
<body id="top">
	<div data-role="page" data-theme="a" data-fullscreen="true" id="main">
		<div data-role="header">
			<div class="ui-grid-a header">
				<div class="ui-block-a header-menu"><p>动态</p></div>
				<div class="ui-block-b"><div class="header-logo"><div><img class="retina" src="css/images/family/logo.jpg" height="26"/></div></div></div>
			</div>
		</div>
		 <div data-role="content">
		 	<div class="feed">
		 		<div class="ui-grid-b pheader">
			 		<div class="ui-block-a avatar">
			 			<img class="retina" src="css/images/family/avatar.jpg" />
			 		</div>
		 			<div class="ui-block-b name">Hyde</div>
		 			<div class="ui-block-c">1小时前</div>
			 	</div>
		 		<div class="panel">
		 			<!--<div class="ui-grid-a">
		 				<div class="ui-block-a content-image"><img class="retina" src="css/images/family/content-image.jpg" /></div>
		 				<div class="ui-block-b content">
		 					<div class="subject">
		 						蝙蝠侠归来
		 					</div>
		 					<div class="message">
		 						台湾设计大师王侠军携其力作2012米兰设计周上展出，王侠军是八方新器股份有限公司的创始人。
		 					</div>
		 				</div>
		 			</div>-->
		 			<div class="content-image2">
		 				<img class="retina" src="css/images/family/content-image.jpg"/>
		 				<div class="title">
							<p>(text to appear at the bottom left of the image)</p>
						</div>
		 			</div>
		 			<div class="content-text">
		 				<p>(text to appear at the bottom left of the image)</p>
		 			</div>
		 			<div class="ui-grid-a bottom">
		 				<div class="ui-block-a group"><a data-role="button"  data-theme="a" data-icon="image"/>最爱电影</a></div>
		 				<div class="ui-block-b more">
		 					<a><img class="retina" src="css/images/family/btn-more.jpg"/></a>
		 				</div>
		 			</div>
		 		</div>
	 			
		 		
		 		<div class="split">

		 		</div>
		 	</div>

		 	<div class="feed">
		 		<div class="ui-grid-b pheader">
			 		<div class="ui-block-a avatar">
			 			<img class="retina" src="css/images/family/avatar.jpg" />
			 		</div>
		 			<div class="ui-block-b name">Hyde</div>
		 			<div class="ui-block-c">1小时前</div>
			 	</div>
		 		<div class="panel">
		 			<div class="ui-grid-a">
		 				<div class="ui-block-a content-image"><img class="retina" src="css/images/family/content-image.jpg" /></div>
		 				<div class="ui-block-b content">
		 					<div class="subject">
		 						蝙蝠侠归来
		 					</div>
		 					<div class="message">
		 						台湾设计大师王侠军携其力作2012米兰设计周上展出，王侠军是八方新器股份有限公司的创始人。
		 					</div>
		 				</div>
		 			</div>
		 			<div class="ui-grid-a bottom">
		 				<div class="ui-block-a group"><a data-role="button"  data-theme="a" data-icon="image"/>最爱电影</a></div>
		 				<div class="ui-block-b more">
		 					<a><img class="retina" src="css/images/family/btn-more.jpg"/></a>
		 				</div>
		 			</div>
		 		</div>
	 			
		 		
		 		<div class="split">

		 		</div>
		 	</div>

		 	<div class="feed">
		 		<div class="ui-grid-b pheader">
			 		<div class="ui-block-a avatar">
			 			<img class="retina" src="css/images/family/avatar.jpg" />
			 		</div>
		 			<div class="ui-block-b name">Hyde</div>
		 			<div class="ui-block-c">1小时前</div>
			 	</div>
		 		<div class="panel">
		 			<div class="ui-grid-a">
		 				<div class="ui-block-a content-image"><img class="retina" src="css/images/family/content-image.jpg" /></div>
		 				<div class="ui-block-b content">
		 					<div class="subject">
		 						蝙蝠侠归来
		 					</div>
		 					<div class="message">
		 						台湾设计大师王侠军携其力作2012米兰设计周上展出，王侠军是八方新器股份有限公司的创始人。
		 					</div>
		 				</div>
		 			</div>
		 			<div class="ui-grid-a bottom">
		 				<div class="ui-block-a group"><a data-role="button"  data-theme="a" data-icon="image"/>最爱电影</a></div>
		 				<div class="ui-block-b more">
		 					<a><img class="retina" src="css/images/family/btn-more.jpg"/></a>
		 				</div>
		 			</div>
		 		</div>
	 			
		 		
		 		<div class="split">

		 		</div>
		 	</div>

		 	<div class="feed">
		 		<div class="ui-grid-b pheader">
			 		<div class="ui-block-a avatar">
			 			<img class="retina" src="css/images/family/avatar.jpg" />
			 		</div>
		 			<div class="ui-block-b name">Hyde</div>
		 			<div class="ui-block-c">1小时前</div>
			 	</div>
		 		<div class="panel">
		 			<div class="ui-grid-a">
		 				<div class="ui-block-a content-image"><img class="retina" src="css/images/family/content-image.jpg" /></div>
		 				<div class="ui-block-b content">
		 					<div class="subject">
		 						蝙蝠侠归来
		 					</div>
		 					<div class="message">
		 						台湾设计大师王侠军携其力作2012米兰设计周上展出，王侠军是八方新器股份有限公司的创始人。
		 					</div>
		 				</div>
		 			</div>
		 			<div class="ui-grid-a bottom">
		 				<div class="ui-block-a group"><a data-role="button"  data-theme="a" data-icon="image"/>最爱电影</a></div>
		 				<div class="ui-block-b more">
		 					<a><img class="retina" src="css/images/family/btn-more.jpg"/></a>
		 				</div>
		 			</div>
		 		</div>
	 			
		 		
		 		<div class="split">

		 		</div>
		 	</div>

		 	<div class="feed">
		 		<div class="ui-grid-b pheader">
			 		<div class="ui-block-a avatar">
			 			<img class="retina" src="css/images/family/avatar.jpg" />
			 		</div>
		 			<div class="ui-block-b name">Hyde</div>
		 			<div class="ui-block-c">1小时前</div>
			 	</div>
		 		<div class="panel">
		 			<div class="ui-grid-a">
		 				<div class="ui-block-a content-image"><img class="retina" src="css/images/family/content-image.jpg" /></div>
		 				<div class="ui-block-b content">
		 					<div class="subject">
		 						蝙蝠侠归来
		 					</div>
		 					<div class="message">
		 						台湾设计大师王侠军携其力作2012米兰设计周上展出，王侠军是八方新器股份有限公司的创始人。
		 					</div>
		 				</div>
		 			</div>
		 			<div class="ui-grid-a bottom">
		 				<div class="ui-block-a group"><a data-role="button"  data-theme="a" data-icon="image"/>最爱电影</a></div>
		 				<div class="ui-block-b more">
		 					<a><img class="retina" src="css/images/family/btn-more.jpg"/></a>
		 				</div>
		 			</div>
		 		</div>
	 			
		 		
		 		<div class="split">

		 		</div>
		 	</div>

		 	<div class="feed">
		 		<div class="ui-grid-b pheader">
			 		<div class="ui-block-a avatar">
			 			<img class="retina" src="css/images/family/avatar.jpg" />
			 		</div>
		 			<div class="ui-block-b name">Hyde</div>
		 			<div class="ui-block-c">1小时前</div>
			 	</div>
		 		<div class="panel">
		 			<div class="ui-grid-a">
		 				<div class="ui-block-a content-image"><img class="retina" src="css/images/family/content-image.jpg" /></div>
		 				<div class="ui-block-b content">
		 					<div class="subject">
		 						蝙蝠侠归来
		 					</div>
		 					<div class="message">
		 						台湾设计大师王侠军携其力作2012米兰设计周上展出，王侠军是八方新器股份有限公司的创始人。
		 					</div>
		 				</div>
		 			</div>
		 			<div class="ui-grid-a bottom">
		 				<div class="ui-block-a group"><a data-role="button"  data-theme="a" data-icon="image"/>最爱电影</a></div>
		 				<div class="ui-block-b more">
		 					<a><img class="retina" src="css/images/family/btn-more.jpg"/></a>
		 				</div>
		 			</div>
		 		</div>
	 			
		 		
		 		<div class="split">

		 		</div>
		 	</div>
		 </div>
		  <div data-role="footer" data-position="fixed">
		  </div>
    </div>
</body>
</html>