<!DOCTYPE HTML>
<html>
<HEAD>
<TITLE>FamilyDay，让一家人团聚</TITLE>
<META name=keywords content=main>
<META name=description content=main>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<META content=no-cache http-equiv=Cache-Control>
<meta charset="utf-8">
<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="stylesheet" href="js/jquery.mobile-1.3.0-beta.1.min.css " />
<link rel="stylesheet" href="css/jquery.mobile-1.2.0.css" />
<link rel="stylesheet" href="css/jquery-mobile-fluid960.min.css" />
<link rel="stylesheet"  href="css/styles.css">
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery.mobile-1.3.0-beta.1.min.js"></script>
<script type="text/javascript" src="js/jquery.retina.js"></script>
<script type="text/javascript" src="js/jquery.resizecrop-1.0.3.js"></script>

</HEAD>
<body id="top">
	<div data-role="page" data-theme="a" data-fullscreen="true" id="main">
		<div data-role="header">
			<div class="ui-grid-a header">
				<div class="ui-block-a header-menu">
					<div data-role="fieldcontain" class="title-btn">
					<select name="select-choice-2" id="select-choice-2" data-icon="false">
					   <option value="standard">发日记</option>
					   <option value="rush">发图片</option>
					</select>
					
					</div>
				</div>
				<div class="ui-block-b"><div class="header-logo"><div><img class="retina" src="css/images/family/logo.jpg" height="26"/></div></div></div>
				<div class="ui-block-a header-menu-check"><div class="tri-down"></div></div>
			</div>
		</div>
		<div data-role="content">
			<div class="msg-panel">
				<div class="msg group">
					<div class="msg-image"><img class="retina" src="css/images/family/publish-image.jpg" /></div>
					<div class="msg-content"><textarea placeholder="写点评论吧..."></textarea></div>
				</div>
			</div>
			<div class="class-btn"><a data-role="button"  data-theme="a" data-icon="image"/>创意BB杂锦</a></div>
			<div data-role="fieldcontain" class="select-btn">
			<div class="btn-icon"><div class="icon"><img class="retina" src="css/images/family/tag.png"></img></div></div>
			<label for="select-choice-0" class="select"></label>
			<select name="select-choice-0" id="select-choice-1" data-icon="false">
			   <option value="standard">Standard: 7 day</option>
			   <option value="rush">Rush: 3 days</option>
			   <option value="express">Express: next day</option>
			   <option value="overnight">Overnight</option>
			</select>
			<div class="btn-icon2"><div class="icon"><img class="retina" src="css/images/family/right.png"></img></div></div>
			</div>
			<div class="publish-btn"><a href="#" data-role="button">确定</a></div>
		</div>
		
    </div>
</body>
</html>