<!DOCTYPE html> 
<html> 
<head> 
   <meta name="viewport" content="width=device-width,initial-scale=1" />   
   <meta http-equiv="content-type"content="text/html; charset=UTF-8"/> 
   <title>betit</title> 

   <link rel="stylesheet" href="template/css/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="template/css/jquery.css" />
      <link rel="stylesheet" type="text/css" href="template/css/www.css">
   <link rel="stylesheet" href="template/css/jquery-mobile-fluid960.min.css"> 
   <script src="template/js/jquery-1.8.2.min.js"></script>
   <script src="template/js/jquery.mobile-1.2.0.min.js"></script>
   <script src="template/js/less.js" type="text/javascript"></script>
   <style type="text/css">
        
   </style>
</head>
<body>
    <div data-role="page" data-theme="none" data-fullscreen="true" class="bet_bg">
       <div data-role="header">
         <!--  <div class="ui-grid-c" style="text-align:center;">
            <div class="ui-block-a" style="margin-top:10px;"><img src="img/logo.png"></div>
            <div class="ui-block-b"><img src="img/bet2.png"></div>
            <div class="ui-block-c"><img src="img/billboard.png"></div>
            <div class="ui-block-d"><img src="img/login.png"></div>
          </div> -->
       <!--    <div class="segmented-control ui-bar-d">
             <div data-role="controlgroup" data-type="horizontal">
               <a href="#" data-role="button" class="ui-control-active" ><img src="img/logo.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/bet2.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/billboard.png"></a>
               <a href="#" data-role="button" class="ui-control-inactive"><img src="img/login.png"></a>
             </div>

          </div> -->

           <div class="head-nav" data-role="navbar">
                <ul>
                   <li><a href="wx.php?do=index" rel="external" data-role="button" class="ui-control-active" ><img src="template/css/images/img/logo.png"></a></li>
                   <li><a href="wx.php?do=index" rel="external" data-role="button" class="ui-control-inactive"><img src="template/css/images/img/bet2.png"></a></li>
                   <li><a href="wx.php?do=billboard" rel="external" data-role="button" class="ui-control-inactive"><img src="template/css/images/img/billboard.png"></a></li>
                   <li><a href="wx.php?do=feed" rel="external" data-role="button" class="ui-control-inactive"><img src="template/css/images/img/feed.png"></a></li>
                    <li><a href="wx.php?do=login" rel="external" data-role="button" class="ui-control-active" ><img src="template/css/images/img/mine.png"></a></li>
                </ul>
           </div><!-- 头部导航栏 -->
      </div>
      <div data-role="content">
        <div align="center" class="login_pic">
        <img src="template/css/images/img/login_pic.png" style="margin:0 auto;">
        </div>

         <div class="weibo">
          <a href="javascript:;" onclick="location.href='http://www.betit.cn/wx/connect.php?site=weibo&ac=index&wxkey=$_GET['wxkey']'"  class="sina"> <img src="template/css/images/img/sina.png" ></a>
           <a href="javascript:;" onclick="location.href='http://www.betit.cn/wx/connect.php?site=qq&ac=index&wxkey=$_GET['wxkey']"><img src="template/css/images/img/tengxun.png" class="tengxun"></a>

         </div>
      </div>
      
    </body>
    </html>